@model IEnumerable<Entity.Empleados>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="page-header">

    <h1>Empleados<small>Listado de Empleados</small></h1>
</div>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home","Index","Home")</li>
    <li>@Html.ActionLink("Catalogos","Index","Empleados")</li>
    <li class="active">Listado de Empleados</li>
</ol>
<p>
    <a href="~/Empleados/Edit" class="btn btn-primary pull-right" >Nuevo Empleado</a>

</p>

<table id="grid" class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaLibre)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaLibre)
                </td>
                <td>
                    <a href="@Url.Action("Editar","Empleados", new{IdEmpleados=item.IdEmpleado})" class="btn btn-danger">Editar</a>

                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
