@model IEnumerable<Entity.Empleados>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="page-header">
    <h1>Departamentos <small>Listado de Empleados</small></h1>
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Catalogo", "Index", "Empleados")</li>
    <li class="active">Listado Empleados</li>
</ol>
<p>
    @*<a href="@Url.Action("Empleados","Editar")" class="btn btn-primary success">Nuevo</a>*@
    @Html.ActionLink("Empleados", "Editar",null, new { @class = "btn btn-primary success" })
    <br />
</p>

<table class="table" id="grid">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaLibre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departament)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaLibre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { IdEmpleados  = item.IdEmpleado }, new { @class = "btn alert alert-warning" })
                     @*|
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>

</table>
