@model IEnumerable<Entity.Categorias_Entity>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info2">
    <div class="jumbotron">
        <h4 style="text-align:center">Lista de categorias</h4>
        @Html.ActionLink("Nueva Categoria", "New", new { idCat = Guid.Empty }, new { @class = "btn btn-primary pull-right" })
        <br />
        <hr />
        <table class="table table-bordered table-responsive" id="grid">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.CatIntIdValue)
                            </th>*@
                    <th>
                        Nombre
                    </th>
                    <th>
                        Código
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CatIntIdValue)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CatNombreValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatCodigoValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatStatusValue)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Crud", new { idCat = item.CatIntIdValue }, new { @class = "alert alert-warning" })
                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>