@model IList<Entity.TEM_PED>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Entity.Pago_Entity> ObjPago = ViewBag.Pago;
    var obj = new Entity.TEM_PED();

}


<div class="info2">
    <div class="container">
        @using (Html.BeginForm("CreateFactu", "Product", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-3" style="margin-bottom:30px;">
                    <select name="Pag_Int_Id" class="form-control">
                        @foreach (var pago in ObjPago)
                        {
                            <option value="@pago.Pag_Int_Id">
                                @pago.Pag_Name
                            </option>
                        }
                    </select>
                </div>
            </div>

                <table class="table" style="top:100px;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => obj.Name_Prod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => obj.Cant_Prod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => obj.Precio_Prod)
                        </th>

                    </tr>

                    @for (var item = 0; item < Model.Count; item++)
                {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model[item].Use_Login)
                                @Html.DisplayFor(model => model[item].Name_Prod)
                            </td>
                            <td>
                                @Html.HiddenFor(model => model[item].Prod_Int_Id)
                                @Html.EditorFor(model => model[item].Cant_Prod)
                            </td>
                            <td>
                                @Html.HiddenFor(model => model[item].Precio_Prod)
                                @Html.DisplayFor(model => model[item].Precio_Prod)
                            </td>
                        </tr>
                    }
                </table>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-4">
                        <input type="submit" value="Generar Factura" class="btn btn-success" />
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-info" })
                    </div>
                </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
